* {
  color: white;
  background-color: black;
  align-items: center;
  display: block;
  margin: 0 auto;
}
#navbar {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  font-family: fantasy;
}
ul {
  list-style: none;
  display: inline-flex;
  text-transform: uppercase;
}
#navbar li {
  font-size: 30px;
  padding-right: 30px;
  margin-right: 4px;
  padding-left: 30px;
}
a {
  color: white;
  animation-name: fade;
  animation-duration: 3s;
}
#navbar img {
  width: 220px;
  height: 130px;
}
a:hover {
  color: rgb(101, 67, 252);
}
#home {
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("newbg.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-color: black;
}
@keyframes fade {
  from {
    color: rgb(66, 224, 230);
  }
  to {
    color: white;
  }
}
.video {
  align-items: center;
  margin-top: 200px;
  display: flex;
  border: 2px solid rgb(101, 67, 252);
  margin-top: 100px;
  width: 60%;
  height: 80%;
}
.aboutme {
  color: white;
  font-size: 35px;
  /* border: 3px solid white; */
  margin-top: 150px;
  text-align: center;
  font-family: fantasy;
  width: 85%;
}
.aboutme u {
  color: rgb(255, 102, 209);
}
.aboutme img {
  border: 2px solid rgb(101, 67, 252);
  height: 600px;
  width: 550px;
}
.aboutme h1 {
  color: MediumPurple;
  font-family: "Aldrich";
  font-weight: bolder;
  font-size: 70px;
  padding-bottom: 20px;
}

#subform {
  color: white;
  text-align: center;
  margin-top: 200px;
  border: 3px solid rgb(101, 67, 252);
  font-family: "Aldrich";
  font-size: 25px;
  align-items: center;
  padding: 40px 0;
}
#subform h1 {
  font-size: 70px;
  color: rgb(101, 67, 252);
}
#subform h2 {
  font-size: 40px;
}
#subform input {
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid white;
  font-family: fantasy;
  text-align: center;
  font-size: larger;
}
#subform textarea {
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid white;
  font-family: fantasy;
  text-align: center;
  font-size: larger;
  width: 70%;
}
#subform select {
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid white;
  font-family: fantasy;
  text-align: center;
  font-size: larger;
}
.tracks {
  margin-top: 200px;
  height: 75vh;
}

label {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 1024px) {
  #navbar li {
    font-size: 20px;
  }
  #navbar img {
    width: 180px;
    height: 100px;
  }
}

.container2 {
  display: grid;
  width: 100%;
  position: relative;
  grid-template-columns: 17vw 22vw 22vw 22vw 17vw;
  grid-template-rows: 50vh;
  padding-top: 20px;
}
.aboutgrid {
  grid-column: 2/3;
  font-family: "Aldrich";
}
.aboutgrid:hover {
  border: 1px solid rgb(66, 224, 230);
}

.trackgrid {
  grid-column: 3/4;
  font-family: "Aldrich";
}
.trackgrid:hover {
  border: 1px solid rgb(66, 224, 230);
}

.contactgrid {
  grid-column: 4/5;
  font-family: "Aldrich";
}
.contactgrid:hover {
  border: 1px solid rgb(66, 224, 230);
}
.social-media-navbar {
  grid-column: 1/2;
}
.social-media-navbar ul {
  flex-direction: column;
}
.nav-link:hover i.fa-facebook-f {
  color: #3b5998;
}
.nav-link:hover i.fa-twitter {
  color: #1da1f2;
}
.nav-link:hover i.fa-google {
  color: red;
}
.nav-link:hover i.fa-github {
  color: purple;
}
.nav-link {
  font-size: 3rem;
}

@media (max-width: 700px) {
  #navbar li {
    font-size: 15px;
  }
  #navbar img {
    width: 120px;
    height: 80px;
  }
  .aboutme {
    font-size: 20px;
  }
  .aboutme h1 {
    font-size: 50px;
  }
}
@media (max-width: 550px) {
  #navbar li {
    font-size: 10px;
  }
  #navbar img {
    width: 90px;
    height: 50px;
  }
  .nav-link {
    font-size: 1rem;
  }
}
@media (max-height: 750px) {
  .aboutme img {
    height: 300px;
  }
  .aboutme {
    font-size: 20px;
  }
  .aboutme h1 {
    font-size: 40px;
  }
  .nav-link {
    font-size: 1rem;
  }
}
@media (max-width: 450px) {
  /* #navbar ul {
    flex-direction: column;
  } */
  #navbar img {
    width: 0px;
    height: 0px;
  }
}
@media (max-width: 380px) {
  #navbar ul {
    flex-direction: column;
    right: 0;
  }
}
